@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

code {
  font-family: "Fira Code", Menlo, "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.view p,
.view ol,
.view ul,
.view h1,
.view h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  line-height: 2rem;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.view li {
  list-style-type: square;
}
.view img {
  max-width: 100%;
  width: 100%;
  max-height: min-content;
  height: auto;
}

.view ol > li {
  list-style-type: decimal;
}

.view a {
  text-decoration: underline;
  color: rgb(82, 82, 212);
}
.view h1 {
  font-size: 1.7em;
  color: mediumslateblue;
  margin-bottom: 8px;
}

.view h2 {
  font-size: 1.4em;
  color: cornflowerblue;
}

.view h3 {
  font-size: 1.2em;
  color: cornflowerblue;
}

.view blockquote {
  border-left: 8px solid dodgerblue;
  background-color: hsl(201, 54%, 89%);
  color: rgb(50, 34, 34);
  padding: 2px 8px;
}

.privacy-policy {
  list-style-type: square;
}
